.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  .spacer {
    flex: 1 1 auto;
  }
}

.content {
  flex: 1;
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}
