.logging-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logs-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-card-content {
  flex: 1;
  overflow: hidden;
  padding: 0 !important;
}

